In [184]:
import rasterio
from rasterio.windows import Window
from pathlib import Path
from pyproj import Transformer
import pandas as pd
import geopandas as gpd
from tqdm.auto import tqdm
from rasterio.crs import CRS

In [185]:
confirmed_products_dir = Path('confirmed_products')

In [186]:
MGRS_TILE_ID = '45TUK'
MGRS_TILE_ID

'45TUK'

In [187]:
import rasterio
from rasterio.windows import Window
from pyproj import Transformer

def get_pixel_value(tif, lon, lat):
    with rasterio.open(tif) as src:
        transformer = Transformer.from_crs("EPSG:4326", src.crs, always_xy=True)
        
        x_utm, y_utm = transformer.transform(lon, lat)
        row, col = src.index(x_utm, y_utm)
        if row < 0 or row >= src.height or col < 0 or col >= src.width:
            raise ValueError("Point is outside the bounds of the raster")
        
        # Create window and read pixel value
        window = Window(col, row, 1, 1)
        val = src.read(1, window=window)[0, 0]
    
    return val

In [188]:
mgrs_ts_dir = confirmed_products_dir / MGRS_TILE_ID
mgrs_ts_prods = sorted(list(mgrs_ts_dir.glob('OPERA*/')))
mgrs_ts_prods[:2]

[PosixPath('confirmed_products/45TUK/OPERA_L3_DIST-ALERT-S1_T45TUK_20240106T121042Z_20251001T100708Z_S1_30_v0.1'),
 PosixPath('confirmed_products/45TUK/OPERA_L3_DIST-ALERT-S1_T45TUK_20240111T121852Z_20251001T044229Z_S1_30_v0.1')]

In [189]:
mgrs_ts_status = [prod_dir / f'{prod_dir.name}_GEN-DIST-STATUS.tif' for prod_dir in mgrs_ts_prods]
mgrs_ts_status[:2]

[PosixPath('confirmed_products/45TUK/OPERA_L3_DIST-ALERT-S1_T45TUK_20240106T121042Z_20251001T100708Z_S1_30_v0.1/OPERA_L3_DIST-ALERT-S1_T45TUK_20240106T121042Z_20251001T100708Z_S1_30_v0.1_GEN-DIST-STATUS.tif'),
 PosixPath('confirmed_products/45TUK/OPERA_L3_DIST-ALERT-S1_T45TUK_20240111T121852Z_20251001T044229Z_S1_30_v0.1/OPERA_L3_DIST-ALERT-S1_T45TUK_20240111T121852Z_20251001T044229Z_S1_30_v0.1_GEN-DIST-STATUS.tif')]

In [190]:
mgrs_ts_dates = [pd.to_datetime(prod_dir.name.split('_')[4]).date() for prod_dir in mgrs_ts_prods]
mgrs_ts_dates[:2]

[datetime.date(2024, 1, 6), datetime.date(2024, 1, 11)]

# Dist Tables

In [193]:
df_val = pd.read_csv('../tables/reference_data/selectedpointsLL.csv')
df_val

,ID,Block,subID,blockStratum,substratum,zone,x,y,centx,centy,long,lat,MGRS
0,30961_1,30961,1,treelossTF,3,33,372932.570128,5.453950e+05,372945,545385,13.854048,4.933158,33NUF
1,30961_2,30961,2,treelossTF,2,33,372728.616472,5.425860e+05,372735,542595,13.852197,4.907920,33NUF
2,30961_3,30961,3,treelossTF,1,33,373846.916077,5.470932e+05,373845,547095,13.862138,4.948639,33NUF
3,30961_4,30961,4,treelossTF,4,33,371390.914129,5.460691e+05,371385,546075,13.839969,4.939375,33NUF
4,30961_5,30961,5,treelossTF,3,33,374504.487544,5.464576e+05,374505,546465,13.868099,4.942951,33NUF
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1828,1473302_16,1473302,16,oldcrop_short,2,21,375509.165457,-4.203209e+06,375495,-4203195,-58.417441,-37.967845,21HUU
1829,1473302_17,1473302,17,oldcrop_short,2,21,378407.482557,-4.204245e+06,378405,-4204245,-58.384499,-37.977701,21HUU
1830,1473302_18,1473302,18,oldcrop_short,1,21,374961.521864,-4.197591e+06,374955,-4197585,-58.422612,-37.917224,21HUU
1831,1473302_19,1473302,19,oldcrop_short,4,21,380894.210195,-4.196291e+06,380895,-4196295,-58.354839,-37.906398,21HUU
1832,1473302_20,1473302,20,oldcrop_short,1,21,380125.237247,-4.195666e+06,380115,-4195665,-58.363604,-37.900619,21HUU

In [192]:
df_val_mgrs = df_val[df_val['MGRS'] == MGRS_TILE_ID].reset_index(drop=True)
sites_in_mgrs_tile = df_val_mgrs.to_dict(orient='records')
sites_in_mgrs_tile[:2]

[{'ID': '424369_1',
  'Block': 424369,
  'subID': 1,
  'blockStratum': 'gen',
  'substratum': 3,
  'zone': 45,
  'x': 356510.126833696,
  'y': 4899421.05117137,
  'centx': 356505,
  'centy': 4899435,
  'long': 85.2031384396242,
  'lat': 44.2340167490209,
  'MGRS': '45TUK'},
 {'ID': '424369_2',
  'Block': 424369,
  'subID': 2,
  'blockStratum': 'gen',
  'substratum': 2,
  'zone': 45,
  'x': 356059.320173898,
  'y': 4895201.37296425,
  'centx': 356055,
  'centy': 4895205,
  'long': 85.1986673530614,
  'lat': 44.1958634481137,
  'MGRS': '45TUK'}]

In [194]:
tables = []
for site in tqdm(sites_in_mgrs_tile[:], desc='Processing sites'):
    site_id = site['ID']
    site_lon = site['long']
    site_lat = site['lat'] 

    labels = [get_pixel_value(tif, site_lon, site_lat) for tif in mgrs_ts_status]

    df_dist_s1_table_site = pd.DataFrame({
        'site_id': [site_id] * len(labels),
        'date': mgrs_ts_dates,
        # 'longitude': [site_lon] * len(labels),
        # 'latitude': [site_lat] * len(labels),
        'labels': labels,
    })
    tables.append(df_dist_s1_table_site)

tables[0].head()

Processing sites: 100%|█| 13/13 [00:01<00:00,  8

    site_id        date  labels
0  424369_1  2024-01-06       0
1  424369_1  2024-01-11       0
2  424369_1  2024-01-18       0
3  424369_1  2024-01-23       0
4  424369_1  2024-01-30       0

In [195]:
for table in tables:
    site_id = table['site_id'].tolist()[0]
    block_id = site_id.split('_')[0]
    table_dir = Path(f'dist_s1_label_tables/{block_id}')
    table_dir.mkdir(exist_ok=True, parents=True)
    table_path = table_dir / f'{site_id}.csv'
    table.to_csv(table_path, index=False)

# Generate Site Vector Table

In [196]:
df_site_geo = gpd.GeoDataFrame(df_val_mgrs[['ID']],
                               geometry=gpd.points_from_xy(df_val_mgrs.long, 
                                                           df_val_mgrs.lat), 
                               crs=CRS.from_epsg(4326))
df_site_geo.head()

         ID                   geometry
0  424369_1  POINT (85.20314 44.23402)
1  424369_2  POINT (85.19867 44.19586)
2  424369_3   POINT (85.19157 44.2071)
3  424369_4  POINT (85.15262 44.27588)
4  424369_5  POINT (85.19961 44.20182)

In [197]:
df_site_geo.to_file(table_dir / 'sites.geojson', driver='GeoJSON')